@model GigHub.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>
<ul>
    @if (Model.ShowActions)
    {
        foreach(var u in Model.Followees)
        {
            <li>@u.Name</li>
        }
    }
</ul>
